<h1>Welcome to Workout Planner!</h1>

<p>This app enables people to create a workout to fit their schedule and goals, no matter how much experience they have!</p>

<a class="button is-primary" routerLink="/workout">Click Here to get started</a>

<h2>Easy Scheduling</h2>

<p>
  <i class="fa fa-calendar fa-lg"></i> The best way to form healthy habits is to stick to solid schedules.
  <br>Workout app helps you build the framework you need.
</p>

<h2>Community Workouts</h2>

<p>
  <i class="fa fa-users fa-lg"></i>
  Pick your weekly workout from one of the community plans or add your own to the pile!
</p>
