<workout-week [workout]="newWorkoutObserver" ></workout-week>

<input [(ngModel)]="newWorkout.name" placeholder="Workout Name" class="input">
<input [(ngModel)]="newWorkout.description" placeholder="Workout Description" class="input">

<div class="exercise-list">
	<h4>
		<label>Day: 
			<select [(ngModel)]="currentDay" class="capitalize">
				<option *ngFor="let day of days; let key = index" value="{{key}}">{{day}}</option>
			</select>
		</label>
	</h4>

	<ul>
		<li *ngFor="let exercise of newWorkout.days[days[currentDay]]; let key = index">
			{{exercise.name}} <i class="fa fa-trash" (click)="removeExercise(days[currentDay], key)"></i>
		</li>
	</ul>
</div>

<div>
	<button *ngFor="let exerciseType of exercises | async" 
	class="button" [ngStyle]="{backgroundColor: types[exerciseType.id].color.secondary}"
	(click)="currentType=exerciseType.id">
		{{exerciseType.name}}
	</button>
</div>

<ng-container *ngFor="let exerciseType of exercises | async">
<div *ngIf="exerciseType.id === currentType" class="exercise-list">
	<h3>{{exerciseType.name}}</h3>
	<ul class="fa-ul">
		<li *ngFor="let exercise of exerciseType.exercises">
			<i class="fa-li fa fa-plus-circle" (click)="addExercise(exercise)"></i>{{exercise.name}}
		</li>
	</ul>
</div>
</ng-container>
